body {
    background-image: url(imagens/wallpaper001.jpg);
}

div.quadrado {
    border: 2px solid rgba(97, 97, 97, 0.315);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: lightgray;
    display: inline-block;
}

div#q1 {
    background-color: skyblue;
}

div#q2 {
    background-image: linear-gradient(to bottom, yellow, orange);
}

div#q3 {
    background-image: url(imagens/pattern003.png);
}