body {
    background-color: rgb(220, 255, 243);
    font: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 80, 53);
}

#principal {
    text-align: center;
    background-color: aquamarine;
    color: aliceblue;
}

h2 {
    color: rgb(0, 70, 23);
}

.basico {
    color: green;
}

.intermediario {
    color: orange;
}

.avancado {
    color: red;
}

.destaque {
    background-color: yellow;
}