* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(-45deg, #180161, #4F1787);
    height: 100%;
}

main {
    width: 600px;
    padding: 10px;
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    color: white;
}

h2 {
    color: rgb(204, 204, 204);
}

p {
    text-align: justify;
    color: #ffffff;
}
